.header-main-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  flex-direction: row;
}

.header-left {
  display: flex;
  margin-right: 2rem;
}

.header-right {
  display: flex;
  margin-left: 2rem;
}

.header-logo {
  height: 80px;
}

.create-breed-btn {
  margin-right: 0.5rem;
  width: 9rem;
  height: 2.2rem;
  border: solid 1px green;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.create-breed-btn:hover {
  transform: scale(1.1, 1.1);
}

.create-breed-btn:active {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1, 1);
}

.git-container {
  border: solid 1px green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 250, 248, 0.9);
  border-radius: 1rem;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 2rem;
}

.in-container {
  border: solid 1px green;
  background-color: rgba(248, 250, 248, 0.9);
  border-radius: 1rem;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2rem;
}

.git-container:hover {
}

.in-container:hover {
}
