.footer-main-container {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  position: fixed;
  bottom: 0;
  left: 45%;
  z-index: 1;
}

.footer-msg {
  pointer-events: none;
  margin-top: 1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}
